.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main {
    flex: 1;
    padding: 24px;
}

.content {
    display: flex;
    justify-content: center;
}

.cardapio {
    width: 100%;
    max-width: 1200px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .cardapio {
        width: 100%;
    }
}