node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.cache/
.parcel-cache/

*.hot-update.js
*.hot-update.json

.vscode/

.DS_Store
Thumbs.db

tmp/
temp/

*.pid
*.seed
*.pid.lock
